[defaults]
inventory = ./config/inventory.yaml
roles_path = ./roles

stdout_callback = yaml
callbacks_enabled = profile_tasks
bin_ansible_callbacks = True

gathering = smart
nocows = 1
cow_selection = eyes


# ansible_python_interpreter: /usr/bin/python3


# vault_password_file = ./.vkey




# ansible_ssh_private_key_file = ~/.ssh/id_rsa_ansible_host
